.venv
occupancy-logger
*/*:Zone.Identifier
gis/building_detailed.dbf
gis/all/mtr.tif
gis/all/kmb.tif
main.docx
gis/dTAD_IRNP.gdb/a00000019.gdbtable
gis/dTAD_IRNP.gdb/a00000004.gdbtable
gis/Whole_HK_DTM_5m.asc
gis/building_detailed.dbf
gis/all/mtr.tif
gis/all/dtm.tif
gis/all/kmb.tif
gis/iC1000.gdb/a00000039.gdbtable
gis/iB1000.gdb/a00000030.gdbtable
gis/iB1000.gdb/a0000004d.gdbtable
gis/iB1000.gdb/a00000051.gdbtable
